* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 97.9vh;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Background image */
  background: 
    linear-gradient(
      rgba(1, 50, 32, 0.75),
      rgba(1, 50, 32, 0.75)
    ),
    url("https://gweka.com/wp-content/uploads/2021/01/Ngo-Not-for-Profit-CSR-and-Social-Services-Jobs-in-India-1024x346.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.auth-card {
  width: 420px;
  background: #f5f5dc;
  border-radius: 24px;
  padding: 35px;
  box-shadow: 0 30px 80px rgba(0,0,0,0.3);
}

/* TOGGLE */
.auth-toggle {
  position: relative;
  display: flex;
  background: #013220;
  border-radius: 30px;
  margin-bottom: 30px;
}

.auth-toggle button {
  flex: 1;
  padding: 12px;
  border: none;
  background: transparent;
  color: #f5f5dc;
  font-weight: 600;
  cursor: pointer;
  z-index: 2;
}

.auth-toggle button.active {
  color: #013220;
}

.slider {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 50%;
  height: calc(100% - 8px);
  background: #f5f5dc;
  border-radius: 26px;
  transition: 0.4s ease;
}

/* FORMS */
.forms {
  position: relative;
}

.form {
  display: none;
  animation: fadeUp 0.4s ease;
}

.form.active {
  display: block;
}

.form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #013220;
}

.form input, .form select {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border-radius: 14px;
  border: 1px solid #ccc;
}

.form button {
  width: 100%;
  padding: 12px;
  background: #013220;
  color: #f5f5dc;
  border: none;
  border-radius: 18px;
  font-weight: bold;
  cursor: pointer;
}

.switch {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.switch span {
  color: #013220;
  font-weight: bold;
  cursor: pointer;
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* RESPONSIVE */
@media (max-width: 500px) {
  .auth-card {
    width: 90%;
  }
}

