* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f5f5dc;
}

body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    background-color: #f5f5dc;
}

#home{
    width: 100%;
    min-height: 100vh;
}

#nav{
    width: 100%;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5dc;
}

#nav img{
    width: 100px;
}

#nav #center {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 10;
}

#nav #right{
    display: flex;
    align-items: center;
    gap: 40px;
}

#nav a{
    text-decoration: none;
    font-weight: 400;
    color: #013220;
    font-size: 1.7vw;
    letter-spacing: -1px;
    ;
}


button{
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #013220;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0,0,0,0.16);
    color: #013220;
    text-decoration: none;
    transition: 0.3 ease all;
    z-index: 1;
}

button::before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left:50%;
    right: 50%;
    bottom: 0%;
    opacity: 0;
    content: '';
    background-color: #013220;
    z-index: -1;
}

button:hover , button:focus{
    color:#f5f5dc
}

button:hover:before, button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

button:active {
    transform: scale(0.9);
}